/* --- MEDIA QUERIES --- */

@media (max-width: 1995px) {
  html {
    font-size: 100%;
    max-width: 1995px;
  }
  section {
    min-height: 100vh;
    padding: 4rem 9% 2rem;
  }

  .about-img {
    width: 22rem;
    height: 22rem;
  }

  .about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
  }
}

@media (max-width: 1620px) {
  .project-card .gh-link {
    left: 16.5%;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 95%;
  }
  section {
    min-height: 100vh;
    padding: 4rem 9% 2rem;
  }
  .home-sci {
    width: 228px;
    bottom: 10rem;
  }

  .about-img {
    width: 22rem;
    height: 22rem;
  }

  .about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
  }
  .project-card .gh-link {
    left: 9%;
  }
}

@media (max-width: 1202px) {
  html {
    font-size: 85%;
  }
  .home {
    padding: 0 9%;
    background: url("");
  }
  .home-sci {
    width: 203px;
    bottom: 14rem;
  }

  .home-sci a {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  section {
    min-height: 100vh;
    padding: 4rem 9% 2rem;
  }

  .about {
    gap: 1rem;
  }

  .heading {
    margin-bottom: 1rem;
  }

  .about-img {
    width: 20rem;
    height: 20rem;
  }

  .about-img img {
    width: 100%;
    border-radius: 50rem;
    border: 0.2rem solid var(--main-color);
  }

  .education .education-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
  }

  .education-content .content .year {
    font-size: 1.2rem;
  }

  .education-content .content h3 {
    font-size: 1.6rem;
  }

  .education-content .content p {
    font-size: 1.3rem;
  }
  .skills .skills-row {
    flex-wrap: nowrap;
  }
  .projects {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
  }

  .project-card {
    width: 40%;
  }
  .project-card .gh-link {
    left: 24%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 81%;
  }
  .home-sci {
    width: 192px;
    bottom: 16rem;
  }

  .home-sci a {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 75%;
  }

  header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }
  .home-sci {
    width: 178px;
    bottom: 19rem;
  }

  .home-sci a {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .home {
    padding: 0 4%;
  }
  .projects {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .project-card {
    width: 40%;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    margin-block: 0rem;
  }

  .project-card .gh-link {
    left: 22%;
    width: 15rem;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 75%;
  }

  .animate.home-img {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    transition-delay: 0s;
    left: 0;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.5s ease;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }

  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: 0.6;
  }
  .education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-inline: auto;
    width: 90%;
  }

  .skills .skills-row {
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
  }

  .project-card .gh-link {
    left: 13%;
    width: 13rem;
  }

  .contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
  }

  .contact form .input-box {
    flex-direction: column;
  }

  .contact form .input-box .input-field {
    position: relative;
    width: 100%;
    margin-block: 0.8rem;
  }

  .contact form .input-box .input-field input,
  .contact form .textarea-field textarea {
    font-size: 1.3rem;
  }
}

@media (max-width: 620px) {
  .projects {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project-card {
    width: 90%;
  }

  .project-card .gh-link {
    left: 27%;
    width: 15rem;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 75%;
    text-align: center;
  }

  section {
    min-height: 70rem;
    padding: 10rem 9% 2rem;
  }

  .heading {
    text-align: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-box .btn {
    width: 18rem;
    height: 100%;
  }

  .home-sci {
    width: 200px;
    transform: translateX(60%);
    bottom: 29rem;
  }

  .home-sci a {
    width: 50px;
    height: 50px;
  }

  .projects {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project-card {
    width: 90%;
  }

  .project-card .gh-link {
    left: 25%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    justify-content: center;
    width: 15rem;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 65%;
  }
  section {
    min-height: calc(100vh + 94px);
  }

  .btn-box {
    justify-content: center;
    gap: 2rem;
  }

  .home-sci {
    width: 200px;
    transform: translateX(0%);
    bottom: 0rem;
    left: 24%;
  }

  .home-sci a {
    width: 50px;
    height: 50px;
  }
}
